---
layout: markdown_page
title: "Ops & CI/CD Quality Engineering team"
---

## On this page
{:.no_toc}

- TOC
{:toc}

Engineers in this team are embedded in the [Ops section] and [CI/CD section].

## Areas of Responsibility

All stages under [Ops section] and [CI/CD section].
* **[Verify stage]**: CI tools
  * Third-party CI: Jenkins, Bamboo, etc.
* **[Release stage]**: Continuous Delivery, Review Apps, Release Automation, Feature Flags, Pages
* **[Package stage]**: Registry Integration for containers, binaries
* **[Configure stage]**: Application, Infrastructure, Auto DevOps
* **[Monitor stage]**: APM, Logging, Tracking

## Team members

<%= direct_team(manager_role: 'Quality Engineering Manager, Ops & CI/CD') %>

## Project Management

The global issue board for the team can be found here: [Quality - Ops & CI/CD QE Team](https://gitlab.com/groups/gitlab-org/-/boards/978348)

[Ops section]: /handbook/product/categories/#ops-section
[Configure stage]: /handbook/product/categories/#configure-stage
[Monitor stage]: /handbook/product/categories/#monitor-stage
[CI/CD section]: /handbook/product/categories/#cicd-section
[Verify stage]: /handbook/product/categories/#verify-stage
[Release stage]: /handbook/product/categories/#release-stage
[Package stage]: /handbook/product/categories/#create-stage
